---

import MainLayout from "../layouts/MainLayout.astro";
import { HOMEPAGE_ARTICLE_LIMIT } from "../constants";

---

<MainLayout>
  <!-- Top Grid -->
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
    <div>
      <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
        Articles, Stories & Learnings From Shardendu Mishra and Friends
      </h1>
    </div>
  </div>

  <!-- Main Grid -->
  </div>
</MainLayout>