---
import { Image } from "astro:assets";
import logo from "../favicon.svg";
import { HomeIcon, DocumentTextIcon, InformationCircleIcon, UserCircleIcon } from '@heroicons/react/24/outline';
import axios from 'axios';

let githubData: { avatar_url?: string } = {};

async function fetchGithubData() {
  try {
    const response = await axios.get('https://api.github.com/users/ShardenduMishra22');
    githubData = response.data as { avatar_url?: string };
  } catch (error) {
    console.error('Error fetching GitHub data:', error);
  }
}

await fetchGithubData();
const imageUrl = githubData.avatar_url;

---

<nav class="bg-gradient-to-r from-purple-900 via-indigo-900 to-blue-900 text-white shadow-xl">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      <div class="flex-shrink-0 hover:scale-110 duration-300">
        <a href="https://www.linkedin.com/in/shardendumishra22/" target="_blank" rel="noopener noreferrer" class="flex items-center space-x-3 group">
          <div class="relative">
            <Image src={logo} class="rounded-full h-12 w-12 border-2 border-indigo-400 transition-all duration-300" alt="Shardendu Mishra's Logo" width={48} height={48} />
            <div class="absolute rounded-full bg-indigo-400 opacity-0 group-hover:opacity-25 transition-opacity duration-300"></div>
          </div>
          <span class="text-2xl font-bold tracking-tight">
            <span class="px-1 text-indigo-400 group-hover:text-indigo-500 transition-colors duration-300">Mishra</span>
            <span class="group-hover:text-yellow-400 transition-colors duration-300">Blog's It</span>
          </span>
        </a>
      </div>
      
      <div class="hidden md:block">
        <div class="ml-10 flex items-center space-x-6">
          <a href="/" class="nav-link">
            <HomeIcon className="w-8 h-8 mr-2" />
            <span class="font-semibold text-lg">Home</span>
          </a>
          <a href="/articles" class="nav-link">
            <DocumentTextIcon className="w-8 h-8 mr-2" />
            <span class="font-semibold text-lg">All Articles</span>
          </a>
          <a href="/about" class="nav-link">
            <InformationCircleIcon className="w-8 h-8 mr-2" />
            <span class="font-semibold text-lg">About</span>
          </a>

          <a href="https://www.linkedin.com/in/shardendumishra22/" target="_blank" rel="noopener noreferrer" class="nav-link">
            {imageUrl && (
              <img src={imageUrl} alt="GitHub Avatar" class="rounded-full h-8 mr-3 w-8 border-2 border-indigo-400 transition-all duration-300 hover:scale-110" />
            )}
            <span class="font-semibold text-lg">LinkedIn</span>

          </a>
        </div>
      </div>
      
      <div class="md:hidden">
        <button
          id="mobile-menu-button"
          class="inline-flex items-center justify-center p-2 rounded-md text-indigo-200 hover:text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white transition-all duration-300"
          aria-label="Toggle navigation"
          aria-expanded="false"
        >
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div id="mobile-menu" class="md:hidden hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="/" class="mobile-nav-link">
        <HomeIcon className="w-8 h-8 mr-2" />
        <span class="font-semibold text-lg">Home</span>
      </a>
      <a href="/articles" class="mobile-nav-link">
        <DocumentTextIcon className="w-8 h-8 mr-2" />
        <span class="font-semibold text-lg">All Articles</span>
      </a>
      <a href="/about" class="mobile-nav-link">
        <InformationCircleIcon className="w-8 h-8 mr-2" />
        <span class="font-semibold text-lg">About</span>
      </a>
      <a href="https://www.linkedin.com/in/shardendumishra22/" target="_blank" rel="noopener noreferrer" class="mobile-nav-link">
        <UserCircleIcon className="w-8 h-8 mr-2" />
        <span class="font-semibold text-lg">Connect with Me</span>
      </a>
    </div>
  </div>
</nav>

<style>
  .nav-link {
    @apply flex items-center px-3 py-2 rounded-md text-sm font-medium text-indigo-200 hover:bg-indigo-700 hover:text-white transition-all duration-300 ease-in-out;
  }
  .mobile-nav-link {
    @apply items-center block px-3 py-2 rounded-md text-base font-medium text-indigo-200 hover:bg-indigo-700 hover:text-white transition-all duration-300 ease-in-out;
  }
</style>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener('click', () => {
      const expanded = mobileMenuButton.getAttribute('aria-expanded') === 'true' || false;
      mobileMenuButton.setAttribute('aria-expanded', (!expanded).toString());
      mobileMenu.classList.toggle('hidden');
    });
  }
</script>